// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	color: red
}

.nav_container {
	background-color: red;
}

.navbar-inverse .navbar-nav li a:hover {
    color: grey;
    text-decoration: none;
}

.navbar-inverse .navbar-nav li a {
	-webkit-transition: color 600ms;
}

.projectName {
    text-transform: uppercase;
}

.projectName a {
    color: white;
}

.navbar-inverse .navbar-nav li a {
	color: white;
}

body {
	padding-top: 50px;
}